#navbar{
    width: 100%;
    background-color: #000000;

    .container {
        background-color: #000000;

        .smalltxt{
            height: 38px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .center{
                margin: auto;
            }
            
            p{
                font-family: "Satoshi";
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
            

                a{
                    font-family: "Satoshi";
                    font-weight: 500;
                    font-size: 14px;
                    color: #FFFFFF;
                }

            }

            // .firsticon{
            //     display: block;
            // }
        }
    }
}

#mainnav{
    width: 100%;
    background-color: #FFFFFF;

    .container{
        background-color: #FFFFFF;

        .mainheader{
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hamburger{
                display: none;
            }

            h1{
                font-family: "Integral";
                font-weight: 700;
                font-size: 32px;
                color: #000000;
                text-align: center;
            }

            ul{
                padding: 0px;
                a{
                    text-decoration: none;
                    display: flex;
                    gap: 25px;

                    li{
                        list-style: none;
                        font-family: "Satoshi";
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                    }

                    .withicon{
                        display: flex;
                        gap: 7px;
                    }
                }
            }

            .searchbar{
                display: flex;
                align-items: center;
                height: 48px;
                width: 577px;
                padding: 12px 16px;
                border-radius: 62px;
                background-color: #F0F0F0;

                input{
                    outline: none;
                    border: none;
                    background: transparent;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Satoshi";
                    color: #000000;
                    opacity: 40%;
                    margin-left: 10px;
                }
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 18px;

                .lupa{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #navbar{

        .container{

            .smalltxt{
                height: 34px;

                .center{
                    width: 320px;

                    p{
                        font-size: 12px;
                    }
                }

                .firsticon{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #mainnav{

        .container{

            .mainheader{
                

                .respon{
                    height: 120px;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .hamburger{
                        display: block;
                        margin-top: 10px;
                        
                    }
                }

                ul{
                    display: none;
                }

                .searchbar{
                    display: none;
                }

                .icons{

                    .lupa{
                        display: block;
                    }
                }
            }
        }
    }
  }